<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.mmp.tic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- GPS permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Storage location -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- Debugging permissions -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ro.mmp.tic.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ro.mmp.tic.activities.authenticate.AuthenticationActivity"
            android:label="@string/title_activity_authentication"
            android:parentActivityName="ro.mmp.tic.activities.MainActivity"
            android:screenOrientation="portrait" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.mmp.tic.activities.MainActivity" />
        </activity>
        <activity
            android:name="ro.mmp.tic.activities.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ro.mmp.tic.activities.authenticate.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="ro.mmp.tic.activities.authenticate.AuthenticationActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.mmp.tic.activities.authenticate.AuthenticationActivity" />
        </activity>
        <activity
            android:name="ro.mmp.tic.activities.authenticate.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="ro.mmp.tic.activities.authenticate.AuthenticationActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.mmp.tic.activities.authenticate.AuthenticationActivity" />
        </activity>
        <activity
            android:name="ro.mmp.tic.activities.CentralActivity"
            android:label="@string/title_activity_central"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ro.mmp.tic.activities.streetmap.StreetMapActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" >
        </activity>
        <activity
            android:name="ro.mmp.tic.activities.streetmap.PresentationActivity"
            android:label="@string/title_activity_presentation"
            android:parentActivityName="ro.mmp.tic.activities.streetmap.StreetMapActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.mmp.tic.activities.streetmap.StreetMapActivity" />
        </activity>
        <activity
            android:name="ro.mmp.tic.activities.streetmap.OpinionActivity"
            android:label="@string/title_activity_opinion"
            android:parentActivityName="ro.mmp.tic.activities.streetmap.PresentationActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.mmp.tic.activities.streetmap.PresentationActivity" />
        </activity>
        <activity
            android:name="ro.mmp.tic.activities.streetmap.SelectActivity"
            android:label="@string/title_activity_select"
            android:parentActivityName="ro.mmp.tic.activities.CentralActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.mmp.tic.activities.CentralActivity" />
        </activity>
        <activity
            android:name="ro.mmp.tic.activities.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>