<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.mmp.tic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- GPS permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ro.mmp.tic.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ro.mmp.tic.activities.authenticate.AuthenticationActivity"
            android:label="@string/title_activity_authentication"
            android:parentActivityName="ro.mmp.tic.activities.MainActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.mmp.tic.activities.MainActivity" />
        </activity>
        <activity
            android:name="ro.mmp.tic.activities.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen" >
        </activity>
        <activity
            android:name="ro.mmp.tic.activities.authenticate.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="ro.mmp.tic.activities.authenticate.AuthenticationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.mmp.tic.activities.authenticate.AuthenticationActivity" />
        </activity>
        <activity
            android:name="ro.mmp.tic.activities.authenticate.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="ro.mmp.tic.activities.authenticate.AuthenticationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.mmp.tic.activities.authenticate.AuthenticationActivity" />
        </activity>
    </application>

</manifest>
